@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --pen-color:#333;
    --grid-rows: 16;
    --grid-columns: 16;
}

* {
    box-sizing: border-box;
}

body {
    background: #d65b63;
    font-family: Pacifico, cursive;
    /* font-size: 1.5rem; */
    color: #333;
    position: relative;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: Pacifico, cursive;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.grow {
    flex: 1;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid #333;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-gap: 0;
    background-color: #fff;
    box-shadow: inset 1px 1px 20px 10px rgba(0, 0, 0, .25);
    margin-bottom: 15px;
}

.grid-dot {
    margin: 0;
    padding: 0;
}

.draw {
    background-color: var(--pen-color);
}

label {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #333;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .25);
    padding: 10px;
}

label[for="resize"]{
    position: absolute;
    left: 32%;
    padding: 20px;
    bottom: 0%;
}

label[for="color"]{
    position: absolute;
    right: 32%;
    bottom: 0%;
}

button, 
input[type="color"]{
    opacity: 0;
}